@font-face { font-family: Steampunk; src: url('fonts/JFRingmaster.ttf'); }
@font-face { font-family: PlaneCrash; src: url('fonts/Plane Crash.ttf'); }

body {
	background-color: #EFEFEF;
	font-family: PlaneCrash;
	margin: 0;
	padding: 0;
	text-align: left;
}

.body {
	clear: both; 
	margin: 0 auto; 
	width: 70%;
}
			
h1 {
	font-family: Steampunk;
	font-size: 40px;
}

#container {
	margin: 4%;
}

#leftside {
	float: left;
	margin-top: 3%;
}

#rightside {
	float: left;
}

li {
	list-style-type: none;
	margin: 3%;
	padding: 2% 3%;
	display: block;
	background-color: #FFF;
	border-radius: 4px;
}

#footer{
	width: 100%;
	font-family: Arial;
	font-size: 12px;
	color: #FFF;
	margin: 3%;
	padding: 2% 3%;
	display: block;
	background-color: #0F0F0F;
	border-radius: 4px;
	float: left;
}